*.map
*.pyc
node_modules
*.sublime-workspace
tmp
npm-debug.log
.haxelib
.bundle
**/outputs
.idea
.aws
.env
gitcache
_site
.sass-cache
site/js/metaframe*
site/js/metapage*
libs/build
# Normally .npmrc files are tracked, but we're only using ours
# to store the token for CI
.npmrc

# Markdeep, in case we are viewing this locally without internet
**/markdeep.min.js