*.map
*.pyc
node_modules
*.sublime-workspace
tmp
npm-debug.log
.haxelib
.bundle
.idea
.aws
.env
gitcache
_site
.sass-cache
libs/build
docs/js/meta*
build/

# Normally .npmrc files are tracked, but we're only using ours
# to store the token for CI
.npmrc

# Markdeep, in case we are viewing this locally without internet
**/markdeep.min.js