*.map
*.pyc
lib/iframeclient.js
node_modules
*.sublime-workspace
tmp
npm-debug.log
.haxelib
.bundle
.vagrant
**/outputs
client/bridge/test/exampleWorkflow/**/inputs
.idea
client/bridge/lib/workflow-client.js
.aws
.env
gitcache
_site
.sass-cache
docs/js/metaframe*
docs/js/metapage*
build
# Normally .npmrc files are tracked, but we're only using ours
# to store the token for CI
.npmrc

# Markdeep, in case we are viewing this locally without internet
**/markdeep.min.js