/**
 * Main palette.
 */

html {
    --color-black: #000;
    --color-gray-dark: #52586D;
    --color-gray-very-light: #F3F3F3;
    --color-blue-medium: #0F76D7;
    --color-blue-very-light: #C0C5D5;
    --color-white: #fff;

    --color-background-light: var(--color-gray-very-light);
    --color-body: var(--color-black);
    --color-body-diminished: var(--color-gray-dark);
    --color-body-disabled: var(--color-blue-very-light);
    --color-cta-primary-foreground: var(--color-white);
    --color-cta-primary-background: var(--color-blue-medium);
    --color-footer-copyright: var(--color-gray-dark);
    --color-footer-link: var(--color-blue-very-light);
    --color-link: var(--color-blue-medium);
    --color-main-background: var(--color-white);
    --color-nav-item-active-foreground: var(--color-black);
    --color-nav-item-active-background: transparent;
    --color-nav-item-normal-foreground: var(--color-black);
    --color-navbar-background: var(--color-white);
    --color-nav-secondary-active-foreground: var(--color-black);
    --color-nav-secondary-normal-foreground: var(--color-gray-dark);

    --font-main: Inter;
    --font-body-secondary-size: 0.85rem;
    --font-blog-header-size: 48px;
    --font-blog-body-h1-size: 38px;
    --font-blog-body-h2-size: 32px;
    --font-blog-body-h3-size: 20px;
    --font-cta-primary-weight: 600;
    --font-nav-secondary-size: 0.85rem;
}

html[data-theme="dark"] {
    --color-body: var(--color-white);
    --color-body-diminished: var(--color-blue-very-light);
    --color-main-background: var(--color-black);
    --color-navbar-background: var(--color-black);
    --color-nav-item-active-foreground: var(--color-white);
    --color-nav-item-normal-foreground: var(--color-white);
    --color-nav-secondary-active-foreground: var(--color-white);
    --color-nav-secondary-normal-foreground: var(--color-blue-very-light);

}

/**
 * General style overrides.
 */

body {
    color: var(--color-body);
    font-family: var(--font-main);
}

a:hover {
    text-decoration: underline;
}

/**
 * Asset overrides.
 */

body {
    --ifm-menu-link-sublist-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24"><path fill="rgba(82, 88, 109, 1)" stroke="white" stroke-width="1" d="M7.41 15.41 L12 10.83 l4.59 4.58 L18 14 l-6-6-6 6z"></path></svg>');
    --ifm-breadcrumb-separator: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 256 256"><g><g><polygon fill="rgba(82, 88, 109, 1)" points="79.093,0 48.907,30.187 146.72,128 48.907,225.813 79.093,256 207.093,128"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>')
}

.breadcrumbs .breadcrumbs__item::after {
    opacity: 1;
}

/**
 * Page-level styles.
 */

.main-wrapper {
    background-color: var(--color-main-background);
}

/**
 * Links should be standardized.
 */

a:link, a:visited {
  color: var(--color-link);
}

/**
 * Site navigation normalization.
 */

 .navbar__items svg[class*="iconExternalLink"] {
    display: none;
}

.navbar__items svg[class*="iconLanguage"] {
    display: none;
}

.navbar {
    background-color: var(--color-navbar-background);
}

.navbar__link, .navbar__items a {
    font-weight: normal;
    color: var(--color-nav-item-normal-foreground);
}

.navbar__items .navbar__link--active {
    font-weight: bold;
    color: var(--color-nav-item-active-foreground);
}

/**
 * Normalize article titles. Reduce weight.
 */

article h1 {
    font-size: var(--font-blog-body-h1-size);
    font-weight: normal;
    color: var(--color-body);
}

article h2 {
    font-size: var(--font-blog-body-h2-size);
    font-weight: bold;
    color: var(--color-body);
}

article h3,
article .alert div,
aside div[class*="sidebarItemTitle"] {
    font-family: var(--font-main);
    font-size: var(--font-blog-body-h3-size);
}

/**
 * Blog: Sidebar nav normalization.
 */

aside li[class*="sidebarItem"] a,
aside li.theme-doc-sidebar-item-link a,
aside li.theme-doc-sidebar-item-category a {
    font-weight: normal;
    font-size: 1rem;
    color: var(--color-nav-item-normal-foreground) !important;
}

aside li[class*="sidebarItem"] a:hover,
aside li.theme-doc-sidebar-item-link a:hover,
aside li.theme-doc-sidebar-item-category a:hover {
    text-decoration: underline;
}

aside li[class*="sidebarItem"] a[aria-current="page"],
aside li.theme-doc-sidebar-item-link a[aria-current="page"],
aside li.theme-doc-sidebar-item-link a[aria-current="page"],
aside li.theme-doc-sidebar-item-category a.menu__link--active,
aside .menu__list-item-collapsible--active {
    font-weight: bold;
    color: var(--color-nav-item-active-foreground) !important;
    background-color: var(--color-nav-item-active-background);
}

/**
 * Breadcrumb normalization.
 */

nav.theme-doc-breadcrumbs a,
nav.theme-doc-breadcrumbs .breadcrumbs__link {
    color: var(--color-nav-secondary-normal-foreground);
    font-size: var(--font-nav-secondary-size);
}

nav.theme-doc-breadcrumbs a.breadcrumbs__link:hover {
    background-color: transparent;
    text-decoration: underline;
}

nav.theme-doc-breadcrumbs .breadcrumbs__item--active .breadcrumbs__link {
    font-weight: bold;
    color: var(--color-nav-secondary-active-foreground);
    background-color: transparent;
}

/**
 * Sidebar article navigation.
 */

.table-of-contents a,
.table-of-contents a:hover,
.table-of-contents a strong {
    color: var(--color-nav-secondary-normal-foreground);
    font-size: var(--font-nav-secondary-size);
    font-weight: normal;
}

.table-of-contents a:hover {
    text-decoration: underline;
}

.table-of-contents a.table-of-contents__link--active,
.table-of-contents a.table-of-contents__link--active strong {
    font-weight: bold;
    color: var(--color-nav-secondary-active-foreground);
}

/**
 * Article content styles.
 */

header {
    color: var(--color-body-diminished);
}

header h2, header h2 a:link, header h2 a:visited {
    color: var(--color-body);
    font-size: var(--font-blog-header-size);
    font-weight: normal;
}

/**
 * Footer.
 */

a.footer__link-item {
    color: var(--color-footer-link);
}

.footer__copyright {
    color: var(--color-footer-copyright);
    font-size: var(--font-body-secondary-size);
}