# https://docs.github.com/en/free-pro-team@latest/actions/reference/workflow-syntax-for-github-actions
name: Deploy and Publish

# https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions
on:
  push:
    branches:
      - "fix-publishing"

jobs:
  deploy-and-publish:
    # Can switch to ubuntu-latest but self-hosted is safer and faster
    name: Deploy and Publish
    runs-on: ubuntu-latest
    permissions:
      id-token: write  # Required for OIDC
      contents: read
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4
        with:
          fetch-depth: '0'

      - uses: extractions/setup-just@v1
        with:
          just-version: '1.46.0'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/setup-node@v3
        with:
          node-version: 23.x

      - name: Ensure npm >= 11.7.0
        run: npm install -g npm@^11.7.0

      - uses: denoland/setup-deno@v1
        with:
          deno-version: "2.5.6"

      - name: publish module
        run: just app/libs/publish

      # - name: Install sd (better sed)
      #   run: sudo apt install -y rust-sd

      - name: Install sd (better sed)
        run: |
          curl -sSL https://github.com/chmln/sd/releases/download/v1.0.0/sd-v1.0.0-x86_64-unknown-linux-gnu.tar.gz | tar xz
          sudo mv sd-v1.0.0-x86_64-unknown-linux-gnu/sd /usr/local/bin/
      
      - name: deploy worker
        env:
          DENO_DEPLOY_TOKEN: ${{ secrets.DENO_DEPLOY_TOKEN }}
        run: just app/worker/deploy
